.Node {
  padding: 0 5px;
  line-height: 30px;
  background: #dddddd;
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
}

.DragStart {
  height: 0;
  outline: 1px solid #ff8888;
}

.Node_selected {
  background: #9999ff;
}

.NodeBox {
  box-sizing: border-box;
  padding: 5px;
}
